<div class="page-container">
  <% if flash %>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
  <% end %>
  <div class="index-container">
    Welcome to myCamp. Click on the map to add a campsite.
  </div>
</div>

<div id="map-canvas"></div>
<script type="text/javascript">
  initialize();
  initializeMap();
</script>