.page-container {
    padding-left: 20px;
    padding-top: 20px;
}

.field_with_errors {
    display: inline;
}

#panel {
    position: absolute;
    top: 122px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}

html, body, #map-canvas {
    height: 90%;
    margin: 0;
    padding: 0;
}

.index-container {
    margin-bottom: 10px;
}